body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

nav {
  border-bottom: 1px solid #eee;
  box-shadow: 2px 3px 6px #eee;
}

.app-title {
  font-size: 24px;
}

span.icon {
  margin-right: 0 !important;
}

.home {
  margin-top: 50px;
}

@media (min-width: 450px) {
  nav {
    display: flex;
  }

  .navbar-end {
    margin-left: auto;
  }
}
