body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  border-bottom: 1px solid #eee;
}

.app-title {
  font-size: 24px;
}

.login-section, .signup-section {
  margin-top: 50px;
}

.login-title {
  padding-bottom: 20px;
  font-size: 34px;
  /*border-bottom: 1px solid #666;*/
}

.form {
  border: 1px solid #eee;
  box-shadow: 0px 15px 15px -10px #666;
  padding: 40px 50px;
}

.input {
  margin-bottom: 15px;
}

@media (min-width: 450px) {
  nav {
    display: flex;
  }

  .navbar-end {
    margin-left: auto;
  }
}
