body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  border-bottom: 1px solid #eee;
  box-shadow: 2px 3px 6px #eee;
}

.app-title {
  font-size: 24px;
}

span.icon {
  margin-right: 0 !important;
}

.home {
  margin-top: 50px;
}

.login-section {
  margin-top: 50px;
}

.login-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 34px;
}

.login-form {
  border: 1px solid #eee;
  box-shadow: 2px 6px 6px -3px #eee;
  padding: 40px 50px;
}

.input {
  margin-bottom: 15px;
}

@media (min-width: 450px) {
  nav {
    display: flex;
  }

  .navbar-end {
    margin-left: auto;
  }
}
